@import "./base/font";
@import "./utils/variables";
@import "./components/animations";
@import "./utils/mixins";

html {
  background-color: $colour-background;
  font-family: "neuropolitical";
  scroll-behavior: smooth;

  a {
    text-decoration: none;
  }
}

// Bouton On/Off
#switch-container {
  display: flex;
  position: absolute;
  top: 3rem;
  left: 50%;
  z-index: 5;

  .switch {
    position: absolute;
    left: 50%;
    color: $colour-primary;
    cursor: pointer;
    font-size: 3rem;
  }

  // Retirer les caractéristiques par défaut des boutons
  #switch-on {
    border: none;
    background: none;
  }

  #switch-off {
    border: none;
    background: none;
    opacity: 1;
  }
}

// #page-container {
//   opacity: 1;
// }

.sticky {
  position: fixed;
  top: 0;
  width: 77.5%;
  padding-top: 0.5rem;
  height: 5rem;
}

.sticky-padding {
  padding-top: 15rem;
}

header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10rem 0;
  background-color: $colour-background;
  z-index: 3;
  height: 5rem;
  padding: 0 11%;
  // padding-bottom: 5rem;

  #lang-choice {
    display: flex;
    flex-flow: row;
    // position: absolute;
    // top: 3rem;
    // left: 5rem;
    font-family: "anurati";
    opacity: 1;

    .lang-option {
      margin: 0 0.5rem;
      cursor: pointer;
      color: $colour-secondary;
      font-size: 1.2rem;
    }
    .lang-option:hover {
      @include neon-text-shadow;
    }
  }

  nav {
    opacity: 1;
    font-family: "anurati";

    ul {
      list-style-type: none;
      display: flex;
      color: $colour-secondary;

      li {
        list-style-type: none;
        margin: 0 1rem;
        cursor: pointer;
        font-size: 1.2rem;
      }

      a {
        color: $colour-secondary;
      }

      li:hover {
        @include neon-text-shadow;
      }
    }
  }
}

// Section titre

#page-title {
  display: flex;
  flex-flow: row wrap;
  margin: 0 5%;
  // justify-content: space-around;
  #name {
    position: relative;
    bottom: 10rem;
    display: flex;
    color: $colour-secondary;
    margin-top: 0;
    width: 80%;
    // font-family: "anurati";
    // @include neon-text-shadow

    #name-delay0 {
      opacity: 1;
    }

    #name-delay1 {
      opacity: 1;
    }

    h1 {
      margin-right: 3rem;
      font-size: 5rem;
    }
  }

  .social-links {
    position: relative;
    bottom: 10rem;
    display: flex;
    align-items: center;
  }

  i {
    color: $colour-background;
    font-size: 3rem;
    margin: 1rem;
  }

  #front-end {
    color: $colour-secondary;
    font-size: 2rem;
    position: relative;
    bottom: 13rem;
  }
}

#job-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 5rem;
  color: $colour-secondary;
  font-size: 2rem;
  text-align: center;
  opacity: 1;
}

#description {
  position: relative;
  left: 15rem;
  top: 5rem;
  margin: 10%;
  width: 80%;
  opacity: 1;

  p {
    color: $colour-primary;
    // border: solid 0.2rem $colour-secondary;
    white-space: wrap;
    font-size: 1.7rem;
    font-weight: 200;
    padding: 2.5rem;
    text-align: justify;
    white-space: wrap;
    font-family: "neuropolX";
    // @include neon-box-shadow-secondary;
  }
}

#arrow-scroll {
  opacity: 1;
  position: fixed;
  right: 10rem;
  bottom: 5rem;
  font-size: 5rem;
  @include neon-arrow-scroll;
}

// A propos de moi

#about {
  margin: 35rem 10rem 5rem 10rem;
  color: $colour-primary;
  padding-top: 10rem;

  #about-title {
    font-size: 3rem;
    width: 100%;
    color: $colour-secondary;
  }

  #about-description {
    display: flex;
    font-family: "neuropolX";
    @include neon-box-shadow-secondary;
    padding: 3rem;
    font-size: 1.5rem;
  }

  img {
    border-radius: 50%;
    width: 15rem;
    object-fit: cover;
    margin-right: 3rem;
  }
}

// Présentation des projets

.border {
  margin: auto;
  width: 60%;
  border: solid 0.1rem $colour-secondary;
  @include neon-box-shadow-primary;
}

#project-presentation {
  display: flex;
  flex-flow: wrap column-reverse;
  margin: 15rem 10rem 5rem 10rem;
  opacity: 1;
  padding-top: 10rem;

  h2 {
    font-size: 3rem;
    width: 25rem;
    color: $colour-secondary;
    order: 1;
    margin: 2rem auto;
  }

  .project {
    display: flex;
    flex-flow: row wrap;
    color: $colour-secondary;
    // border: solid 0.2rem $colour-secondary;
    // @include neon-box-shadow-primary;
    width: 60%;
    padding: 3rem;
    overflow: hidden;
    margin: 3rem auto;

    .project-header {
      display: flex;
      width: 95%;
      justify-content: space-between;
      align-items: center;
      margin: 0 3% 1rem 3%;

      .project-github-link {
        color: $colour-background;
        font-size: 3rem;
        @include neon-text-shadow;
        background-clip: text;
        -webkit-background-clip: text;
      }

      h3 {
        font-size: 2rem;
      }
    }

    .description-project {
      display: flex;
      width: 100%;
      // font-family: "neuropolX";
    }

    .description-project img {
      width: 30rem;
      object-fit: cover;
      object-position: top;
    }

    .icon-project {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .icon-langage {
        margin: 0 0.5rem;
        font-size: 3rem;
        color: $colour-background;
        @include neon-text-shadow;
        background-clip: text;
        -webkit-background-clip: text;
      }
      .icon-js {
        @include neon-text-shadow-js;
        background-clip: text;
        -webkit-background-clip: text;
      }
      .icon-html {
        @include neon-text-shadow-html;
        background-clip: text;
        -webkit-background-clip: text;
      }
      .icon-css {
        @include neon-text-shadow-css;
        background-clip: text;
        -webkit-background-clip: text;
      }
      .icon-sass {
        @include neon-text-shadow-sass;
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    .text-project {
      margin-left: 5rem;
      font-size: 1.2rem;
    }
  }
}
// .project-right-align {
//   position: relative;
//   left: 50rem;
// }

footer {
  color: $colour-secondary;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: auto;
  padding: 3rem;
  margin-bottom: 5rem;

  h2 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
  }

  #contact-info {
    display: flex;

    p {
      cursor: pointer;
      font-size: 2rem;
      margin: 0 3rem;

      a {
        color: $colour-secondary;
      }
    }
    p:hover {
      @include neon-text-shadow;
    }
  }
}

@import "./layouts/mobile";
@import "./layouts/large";
