@font-face {
  font-family: "Metrophobic";
  src: url(/font/Metrophobic-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Strong";
  src: url(/font/StrongConcrete-Bold.otf);
}

@-webkit-keyframes socials-flash {
  0%,
  45% {
    color: #060E1A;
    background-color: #00b8ff;
    font-size: 3rem;
    margin: 1rem;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  28% {
    color: #060E1A;
    background-color: #00b8ff;
    font-size: 3rem;
    margin: 1rem;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
  }
  16%,
  32% {
    color: #060E1A;
    background-color: #060E1A;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
  }
  100% {
    color: #060E1A;
    background-color: #00b8ff;
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

@keyframes socials-flash {
  0%,
  45% {
    color: #060E1A;
    background-color: #00b8ff;
    font-size: 3rem;
    margin: 1rem;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  28% {
    color: #060E1A;
    background-color: #00b8ff;
    font-size: 3rem;
    margin: 1rem;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
  }
  16%,
  32% {
    color: #060E1A;
    background-color: #060E1A;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
  }
  100% {
    color: #060E1A;
    background-color: #00b8ff;
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.socials-appear-delay0 {
  -webkit-animation: socials-flash 2500ms 2500ms forwards;
          animation: socials-flash 2500ms 2500ms forwards;
}

.socials-appear-delay1 {
  -webkit-animation: socials-flash 2800ms 2800ms forwards;
          animation: socials-flash 2800ms 2800ms forwards;
}

@-webkit-keyframes title-flash {
  0%,
  12%,
  16%,
  24%,
  38%,
  100% {
    color: #AE00ED;
    text-shadow: none;
    opacity: 1;
  }
  10%,
  13%,
  21%,
  34%,
  70% {
    color: #060E1A;
    text-shadow: none;
    opacity: 1;
  }
  100% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
}

@keyframes title-flash {
  0%,
  12%,
  16%,
  24%,
  38%,
  100% {
    color: #AE00ED;
    text-shadow: none;
    opacity: 1;
  }
  10%,
  13%,
  21%,
  34%,
  70% {
    color: #060E1A;
    text-shadow: none;
    opacity: 1;
  }
  100% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
}

.name-appear-delay0 {
  -webkit-animation: title-flash 3500ms 300ms forwards;
          animation: title-flash 3500ms 300ms forwards;
}

.name-appear-delay1 {
  -webkit-animation: title-flash 3700ms 700ms forwards;
          animation: title-flash 3700ms 700ms forwards;
}

@-webkit-keyframes item-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes item-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item-appear-delay0 {
  -webkit-animation: item-appear 800ms 4500ms forwards;
          animation: item-appear 800ms 4500ms forwards;
}

.item-appear-delay1 {
  -webkit-animation: item-appear 700ms 5000ms forwards;
          animation: item-appear 700ms 5000ms forwards;
}

@-webkit-keyframes scroll-flash {
  0% {
    opacity: 0.5;
  }
  50% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    opacity: 1;
  }
  100% {
    text-shadow: none;
    opacity: 0.5;
  }
}

@keyframes scroll-flash {
  0% {
    opacity: 0.5;
  }
  50% {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    opacity: 1;
  }
  100% {
    text-shadow: none;
    opacity: 0.5;
  }
}

.scroll-appear {
  -webkit-animation: scroll-flash 3500ms 7000ms infinite;
          animation: scroll-flash 3500ms 7000ms infinite;
}

@-webkit-keyframes switch-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes switch-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes switch-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    background-color: #00b8ff;
  }
}

@keyframes switch-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    background-color: #00b8ff;
  }
}

.switch-on {
  -webkit-animation: switch-on 300ms forwards;
          animation: switch-on 300ms forwards;
}

.switch-off {
  -webkit-animation: switch-off 300ms forwards;
          animation: switch-off 300ms forwards;
}

@media only screen and (min-width: 1441px) {
  #description {
    width: 59% !important;
    margin: 10rem auto !important;
  }
}

body {
  background-color: #060E1A;
  font-family: "strong";
  scroll-behavior: smooth;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10%;
}

header #name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #AE00ED;
  width: 80%;
  font-family: "strong";
}

header #name #name-delay0 {
  opacity: 0;
}

header #name #name-delay1 {
  opacity: 0;
}

header #name h1 {
  margin-right: 3rem;
  font-size: 5rem;
}

header #social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header i {
  color: #060E1A;
  background-color: #060E1A;
  font-size: 3rem;
  margin: 1rem;
}

#switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 2rem;
  left: 50%;
  z-index: 10;
}

#switch-container .switch {
  position: absolute;
  left: 50%;
  color: #AE00ED;
  cursor: pointer;
  font-size: 3rem;
}

#switch-container #switch-on {
  border: none;
  background: none;
}

#switch-container #switch-off {
  border: none;
  background: none;
  opacity: 0;
}

#job-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10%;
  opacity: 0;
}

h2 {
  color: #AE00ED;
  font-size: 3rem;
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
}

#front-end {
  margin-right: 20rem;
}

#alternance {
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#description {
  margin: 3rem 10%;
  width: 80%;
  opacity: 0;
}

#description p {
  color: #AE00ED;
  border: solid 0.2rem #00b8ff;
  white-space: wrap;
  font-size: 1.7rem;
  font-weight: 200;
  padding: 2.5rem;
  text-align: justify;
  white-space: wrap;
  -webkit-box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px rgba(30, 132, 242, 0.52), inset 0 0 16px rgba(30, 132, 242, 0.78), 0 0 32px rgba(30, 132, 242, 0.78), inset 0 0 32px rgba(30, 132, 242, 0.92);
          box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px rgba(30, 132, 242, 0.52), inset 0 0 16px rgba(30, 132, 242, 0.78), 0 0 32px rgba(30, 132, 242, 0.78), inset 0 0 32px rgba(30, 132, 242, 0.92);
}

#arrow-scroll {
  opacity: 0;
  position: absolute;
  right: 10rem;
  bottom: 5rem;
  font-size: 5rem;
  background: #00b8ff;
  background: linear-gradient(162deg, #00b8ff 0%, #d600ff 69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#project-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 10%;
}

#project-presentation .project {
  color: #AE00ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border: solid 0.2rem #00b8ff;
  -webkit-box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px rgba(30, 132, 242, 0.52), inset 0 0 16px rgba(30, 132, 242, 0.78), 0 0 32px rgba(30, 132, 242, 0.78), inset 0 0 32px rgba(30, 132, 242, 0.92);
          box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px rgba(30, 132, 242, 0.52), inset 0 0 16px rgba(30, 132, 242, 0.78), 0 0 32px rgba(30, 132, 242, 0.78), inset 0 0 32px rgba(30, 132, 242, 0.92);
  margin: 5rem auto;
  width: 25%;
  padding: 2rem;
  text-overflow: ellipsis;
}

#project-presentation .project a:hover {
  -webkit-transform: scale(2, 1);
          transform: scale(2, 1);
}

#project-presentation .project h3 {
  width: 100%;
}

#project-presentation .project .description-project {
  width: 30%;
}

#project-presentation .project .description-project img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */