@font-face {
    font-family: "neuropolX";
    src: url(/font/neuropolX.ttf);
}

@font-face {
    font-family: "neuropolitical";
    src: url(/font/neuropolitical.ttf);
}

@font-face {
    font-family: "quasith";
    src: url(/font/Quasith-Regular.otf);
}

@font-face {
    font-family: "anurati";
    src: url(/Font/Anurati-Regular.otf);
}