@font-face {
    font-family: "Metrophobic";
    src: url(/font/Metrophobic-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Strong";
    src: url(/font/StrongConcrete-Bold.otf);
}